body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-image: url(background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    background-color: rgba(0, 0, 0, .5);
    height: auto;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.YoutubeLink {
    font-size: 4vw;
    color: white;
    text-decoration: none;
    transition: all .5s;
    padding: 10px;
    background-image: linear-gradient(45deg, rgba(223, 83, 102), rgba(250, 44, 44));
    background-clip: text;
    border-radius: 15px;
}

.YoutubeLink:hover {
    text-shadow: 0 0 10px white;
    background-image: linear-gradient(45deg, rgba(223, 83, 102), rgba(250, 44, 44));
}

.headerlink {
    font-size: 2.5vw;
    color: white;
    text-decoration: none;
    margin: 5px;
    transition: all .5s;
}
.backgroundNone{
    border: none;
    background-color: transparent;
}

.headerlink:hover, .YoutubeLink:hover, .footerlink:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.mainBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container {
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.innercontainer{
    align-items: center;
    justify-content: center;
}

.row{
    display: flex;
    flex-direction: row;
}

.column{
    display: flex;
    flex-direction: column;
}

.flexdirect_responsive{
    display: flex;
    flex-direction: row;
}
/*responsividade*/
@media (max-width: 800px){
    .flexdirect_responsive{
    display: flex;
    flex-direction: column;
    }
}

.backgroundB {
    background-color: rgba(255, 255, 255, 0.8);
    margin: 5vw;
    padding: 20px;
    text-align: center;
}

.leftS,
.rightS {
    text-align: center;
    justify-content: center;
    align-items: center;
}


.title {
    font-size: 5vw;
    font-family: 'Courier New';
    font-weight: 800;
    color: #000000;
}

.text{
    text-align: center;
    font-size: 2vw;
    text-align: justify;
    margin: 10px;
    font-family: 'Courier New';
    font-weight: 500;
    color: #000000;
}

.Pink {
    color: palevioletred;
}
.red {
    color: rgb(236, 59, 59)
}

.profileImage {
    width: 40vw;
    max-width: 100%;
    align-self: center;
    justify-content: center;
}

.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    height: 5%;
    background-color: rgba(255, 255, 255, 0.8);
    justify-content: space-evenly;
}

.footerlink {
    transition: all .5s;
    align-self: center;
    font-size: 2vw;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 1.5vw;
}


.mensagem-copiado {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    color: rgb(84, 223, 19);
    font-size: 38px;
    font-weight: 400;
    padding: 35px;
    border-radius: 5px;
    display: none;
    animation: fadeOut 3s ease-in-out; /* Adicione uma animação de fadeOut */
}

/* Estilos de animação para a mensagem */
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

