/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*Variables, fonts and others section*/
/*Base Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Kode+Mono:wght@400..700&display=swap');
/*-----------------------------------------------------------------------*/
/*Other fonts*/

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Madimi+One&family=Micro+5&family=Ojuju:wght@200..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Slackside+One&display=swap');

/*examples
.micro-5-regular {
    font-family: "Micro 5", sans-serif;
    font-family: "Caveat", cursive;
    font-family: "Slackside One", cursive;
    font-family: "Playfair Display", serif;
    font-family: "Ojuju", sans-serif;
    font-family: "Madimi One", sans-serif;
}
*/
/*-----------------------------------------------------------------------*/
:root {
    --Color-DARKER-BLUE: #001D31;
    --Color-LIGHT-GREEN: #00BE67;
    --Color-LIGHT-BLUE: #00A1D5;
    --Color-DARKER-PURPLE: #2B0E66;
    --Color-PINK: #F500BD;
    --Color-LIGHT-PINK: #FF86C9;
    /*Fonts*/
    --fonts2-micro-5: "Micro 5", sans-serif;
    --fonts2-Caveat: "Caveat", cursive;
    --fonts2-Slackside-One: "Slackside One", cursive;
    --fonts2-Playfair-display: "Playfair Display", serif;
    --fonts2-Ojuju: "Ojuju", sans-serif;
    --fonts2-Madimi-One: "Madimi One", sans-serif;
    /*Main Fonts*/
    --fonts1-Anta: "Anta", sans-serif;
    --fonts1-Kode_Mono: "Kode Mono", sans-serif;
}

a {
    all: unset;
}

body {
    margin: 0;
    background-color: var(--Color-DARKER-BLUE);
    color: #ffffff;
    backdrop-filter: blur(4px) brightness(60%);
    transition: all 0.5s ease;
}

img {
    display: block;
    width: 100%;
}

button {
    all: unset;
}

/*End of the section*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*Header Section*/
header {
    display: flex;
    align-items: center;

    background-color: #ffffff;

    height: 6vh;

    padding: 5px;

    position: sticky;
    top: 0;
    z-index: 2;
}


.nav_bar {
    display: flex;
    flex-direction: row;
    gap: 2vh;
    justify-content: center;
}

.nav_select {
    display: flex;
    flex-direction: row;
    gap: 3vh;
    justify-content: center;
}

.nav_button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: 1.7vh;
    font-family: var(--fonts1-Anta);
    text-wrap: nowrap;
    color: var(--Color-DARKER-BLUE);
    transition: all 0.2s;
}

.Sidebartoggle {
    border: none;
    background-color: transparent;
    font-size: 4vh;
    padding: 1vh;
}

.nav_button:hover {
    cursor: pointer;
    scale: 1.1;
}

.nav_button:active {
    cursor: grab;
    scale: 1;
}

/*End of the section*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*Sidebar Section*/
.sidebar {
    display: flex;
    flex-direction: column;
    gap: 15px;
    /*--------------------------------*/
    position: fixed;
    top: 6vh;
    left: 0;
    z-index: 1;
    /*--------------------------------*/
    background-color: rgba(255, 255, 255, 0.95);
    /*--------------------------------*/
    width: 30vh;
    height: 75vh;
    transition: all 0.8s ease;
    border-radius: 0 0 35px 35px;
    overflow-y: auto;

}

.sidebar.close {
    top: -100%;
    opacity: 0%;
}

.sidebar::-webkit-scrollbar {
    display: none;
}


.sidebar_logo {
    display: flex;
    justify-content: center;
    align-self: center;
    height: 15vh;
    width: 100%;
    background-color: var(--Color-LIGHT-GREEN);
}

.letter_K {
    color: #ffffff;
    animation-name: logo_changing;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    text-shadow: -10px 10px 15px var(--Color-DARKER-BLUE);
    font-size: 3vh;
    text-wrap: nowrap;
    padding: 20px;

}


@keyframes logo_changing {
    0% {
        font-family: "Micro 5", sans-serif;
    }

    16.6% {
        font-family: "Caveat", cursive;
    }

    33.3% {
        font-family: "Slackside One", cursive;
    }

    50% {
        font-family: "Playfair Display", serif;
    }

    66.6% {
        font-family: "Ojuju", sans-serif;
    }

    83.3% {
        font-family: "Madimi One", sans-serif;
    }

    100% {
        font-family: "Micro 5", sans-serif;
    }

}

.Sidebar_Button {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.Sidebar_Button:hover {
    background-color: gainsboro;
    cursor: pointer;
}

.Sidebar_Button:hover .Sidebar_Button_Icon {
    transform: scale(1.3);
}

.Sidebar_Button:active {
    background-color: rgb(202, 202, 202);
}

.Sidebar_Button_Icon {
    width: 1fr;
    color: black;
    font-size: 5vh;
    padding: 20px;
    transition: all .3s ease;
}

.Sidebar_Button_Name {
    display: flex;
    align-items: center;
    font-size: 2vh;
    color: black;
    font-family: var(--fonts1-Kode_Mono);
}

/*End of the section*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*Themes sections*/
.Themes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1vh;
}

.themes_buttons_container {
    margin: 1.5vh;
    display: flex;
    flex-direction: row;
    gap: 2vh;
    justify-content: center;
    padding: 10px;
    border: none;
}

.themes_title {
    display: flex;
    justify-content: center;
    animation-name: themes_button;
    font-size: 1.6vh;
    font-family: "kode mono", sans-serif;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    position: relative;
    margin-bottom: 10px;
    text-shadow: 10px 10px 10px currentColor;
}

@keyframes themes_button {
    0% {
        transform: scale(.8) rotate(10deg);
        color: #F500BD;
        text-shadow: 10px 10px 10px currentColor;
    }

    16.6% {
        transform: scale(.9) rotate(-5deg);
        color: #00ff08;
        text-shadow: -10px 10px 10px currentColor;
    }

    33.3% {
        transform: scale(.8) rotate(8deg);
        color: #ffffff;
        text-shadow: 10px 10px 10px currentColor;
    }

    50% {
        transform: scale(.9) rotate(-15deg);
        color: #ffea00;
        text-shadow: -10px 10px 10px currentColor;
    }

    66.6% {
        transform: scale(.8) rotate(8deg);
        color: #ff0000;
        text-shadow: 10px 10px 10px currentColor;
    }

    83.3% {
        transform: scale(.9) rotate(-5deg);
        color: #00ddff;
        text-shadow: -10px 10px 10px currentColor;
    }

    100% {
        transform: scale(.8) rotate(10deg);
        color: #F500BD;
        text-shadow: 10px 10px 10px currentColor;
    }
}


.Theme_button {
    display: flex;
    height: 8vh;
    width: 14vh;
    border: none;
    border-radius: 30px;

    font-family: "Kode Mono", sans-serif;
    font-size: 2vh;
    font-weight: bolder;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}

.Theme_button:hover {
    cursor: pointer;
    transform: scale(1.1);
    transform-origin: center;
    box-shadow: 0 0 15px #F500BD;
}

.Theme_button:active {
    transform: scale(1);
    transform-origin: center;
    transition: all 0s;
}

.cyberPunk_button {
    background-image: url('themeImages/theme(1\).png');
    /* Substitua pelo caminho da sua imagem */
    color: #ff95e6;
    text-shadow: 0 5px 5px #0070ba;
}

.SolarPunk_button {
    background-image: url('themeImages/theme\(2\).webp');
    /* Substitua pelo caminho da sua imagem */
    color: #eeffcc;
    text-shadow: 0 5px 5px #236c1e;
}

.Remove_themes {
    background-color: #001D31;
    /* Substitua pelo caminho da sua imagem */
    color: #ffffff;
    text-shadow: 0 5px 5px #000000;
}

/*End of the section*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*Highlight section*/
.highlight {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 15px;
}

.highlight_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
}

.highlight_image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.highlight_image img {
    width: 36vh;
    height: 20vh;
    object-fit: cover;
    object-position: 50% 33%;
    border-radius: 10px;
}


.highlight_description {
    width: auto;
    font-size: 1.8vh;
    text-wrap: wrap;
    font-family: var(--fonts1-Kode_Mono);
}

.highlight_arrow {
    display: flex;
    align-items: center;
    font-size: 3vh;
    margin: 2vh;
    transition: all 0.06s;
}

.highlight_arrow:hover {
    cursor: pointer;
    transform: scale(1.5);
}

.highlight_arrow:active {
    cursor: pointer;
    transform: scale(1.1);
}

/*End of the section*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*Works section*/

.portfolio {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/*Search bar*/
.search_bar {
    background-color: rgb(220, 220, 220);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .8vh;
    padding: 10px;
    /*
    border-radius: 0 25px 25px 0;
    */
}

.search_definitions {
    width: 15vw;
    font-size: 2.5vh;
    padding: 1vh;
    font-family: "Kode Mono", sans-serif;

    border: none;
    border-radius: 15px;
}

.orderby,
.categories {
    transition: all 0.5s;
}

.SearchInput {
    width: 46vw;
    font-size: 2.5vh;
    border: none;
    border-radius: 15px;
    padding: 1vh;
    transition: all 0.5s;
}

.search-button {
    border: none;
    border-radius: 25px;
    background-color: #001D31;
    color: white;
    font-size: 2.5vh;
    padding: 8px;
    transition: all .3s;

}

.search-button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.search-button:active {
    transform: scale(.9);
}

/*Grid display*/

.portfolio_display {
    margin-top: 25px;
    display: flex;
    height: 66vh;
    justify-content: center;
}

/*
.blogs {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    margin: 0 15px;
    box-shadow: 0 0 10px #00BE67;
    justify-content: center;
    align-items: center;
    color: #001D31;
    font-size: 30px;
    font-weight: bolder;
    font-family: "Anta", sans-serif;
    border-radius: 25px;
}
*/
.portfolio_grid {
    padding: 10px;
    box-shadow: 0 0 10px #00BE67;
    width: fit-content;
    height: auto;
    max-height: 66vh;
    overflow-y: auto;
    border-radius: 5px;
    margin: 10px;
}


.portfolio_grid::-webkit-scrollbar {
    display: none;
}

/*Display portfolio grid by columns*/
.display_columns {
    display: grid;
    grid-template-columns: 36vw 36vw;
    gap: 20px;
}

.display_columns .grid_square {
    width: auto;
    height: 22vw;
}

.grid_square {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px #00BE67;
    border-radius: 5px;
    transition: all 0.3s;
}

.grid_square:hover {
    scale: 1.05;
    cursor: pointer;
}

/*End of the section*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.About_Me_Img img {
    width: 36vh;
    height: 20vh;
    object-fit: cover;
    object-position: 50% 33%;
    border-radius: 10px;
}


.About_Me_Text {
    width: auto;
    font-size: 1.8vh;
    text-wrap: wrap;
    font-family: var(--fonts1-Kode_Mono);
}