/* Paleta de corescyber punk
#001D31 DARKER BLUE
#00BE67 LIGHT GREEN
#00A1D5 LIGHT BLUE
#2B0E66 DARKER PURPLE
#F500BD PINK
#FF86C9 LIGHT PINK
*/
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Kode+Mono:wght@400..700&display=swap');

body {
    margin: 0;
    background-color: #001D31;
    color: white;
}

a {
    all: unset;
}

header {
    background-color: #ffffff;
    height: 60px;
    padding: 10px;
    padding-top: 0;
    margin-bottom: 25px;
    box-shadow: 0 10px 50px #00A1D5;
}

.logo:hover {
    cursor: pointer;
}

.slideButton {
    border: none;
    background-color: transparent;
    font-size: 35px;
}

.nav_bar {
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin: 10px;
    justify-content: center;
}

.nav_button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: 30px;
    color: #001D31;

    font-family: "Anta", sans-serif;
    transition: all 0.2s;
}

.nav_button:hover {
    cursor: pointer;
    scale: 1.1;
}

.nav_button:active {
    cursor: grab;
    scale: 1;
}

/*Themes sections*/
.Themes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.themes_buttons_container {
    margin: 15px;
    display: flex;
    flex-direction: row;
    gap: 60px;
    justify-content: center;
    padding: 10px;
    border: none;
    border-width: 12px;
    border-color: white;
    border-radius: 25px;
}

.themes_title {
    display: flex;
    justify-content: center;
    animation-name: themes_button;
    font-size: 20px;
    font-family: "kode mono", sans-serif;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    position: relative;
    width: auto;
}

@keyframes themes_button {
    0% {
        transform: scale(.9) rotate(10deg);
        color: #F500BD;
    }

    25% {
        transform: scale(1) rotate(-5deg);
        color: #00BE67;
    }

    50% {
        transform: scale(.8) rotate(8deg);
        color: #ffffff;
    }

    75% {
        transform: scale(1) rotate(-15deg);
        color: #ffea00;
    }

    100% {
        transform: scale(.9) rotate(10deg);
        color: #F500BD;
    }
}


.Theme_button {
    height: 100px;
    width: 180px;
    border: none;
    border-radius: 30px;

    font-family: "Kode Mono", sans-serif;
    font-size: 24px;
    font-weight: bolder;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}

.Theme_button:hover {
    cursor: pointer;
    transform: scale(1.1);
    transform-origin: center;
    box-shadow: 0 0 15px #F500BD;
}

.Theme_button:active {
    transform: scale(1);
    transform-origin: center;
    transition: all 0s;
}

.cyberPunk_button {
    background-image: url('themeImages/theme\ \(1\).jpg');
    /* Substitua pelo caminho da sua imagem */
    color: #F500BD;
    text-shadow: 0 0 10px #001D31;
}

.SolarPunk_button {
    background-image: url('themeImages/theme\ \(1\).webp');
    /* Substitua pelo caminho da sua imagem */
    color: #aaff00;
    text-shadow: 0 0 10px #001D31;
}

.SteamPunk_button {
    background-image: url('themeImages/theme\ \(2\).jpg');
    /* Substitua pelo caminho da sua imagem */
    color: #ffea00;
    text-shadow: 0 0 10px #001D31;
}

/*Highlight sections*/
.highlight {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 25px;
}

.highlight_block {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.highlight_image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 980px;
    height: 340px;
    color: #001D31;
    border-radius: 20px;
    box-shadow: 0 0 10px #00BE67;
}

.highlight_description {
    text-wrap: wrap;
}

.highlight_arrow {
    display: flex;
    align-items: center;
    font-size: 70px;
    margin: 50px;
    transition: all 0.5s;
}

.highlight_arrow:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.transition_section {
    height: 120px;
}

.portfolio {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/*Search bar*/
.search_bar {
    background-color: rgb(220, 220, 220);
    display: flex;
    flex-direction: row;
    gap: 25px;
    width: fit-content;
    padding: 30px;

    border-radius: 0 25px 25px 0;
}

.portfolio_display {
    margin-top: 25px;
}

.search_definitions {
    padding: 5px;
    font-size: 18px;
    font-family: "Kode Mono", sans-serif;

    border: none;
    border-radius: 15px;
    padding: 5px;
}

/*
.orderby {}

.categories {}
*/
.SearchInput {
    width: 600px;
    font-size: 20px;
    border: none;
    border-radius: 15px;
    padding: 10px;
}

.search-button {
    border: none;
    border-radius: 25px;
    background-color: #001D31;
    color: white;
    font-size: 24px;
    padding: 15px;
    transition: all .3s;

}

.search-button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.search-button:active {
    transform: scale(.9);
}

/*Grid display*/

.portfolio_display {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    height: 66vh;
    gap: 10px;
}

.blogs {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    margin: 0 15px;
    box-shadow: 0 0 10px #00BE67;
    justify-content: center;
    align-items: center;
    color: #001D31;
    font-size: 30px;
    font-weight: bolder;
    font-family: "Anta", sans-serif;
    border-radius: 25px;
}

.portfolio_grid {
    background-color: #ffffff;
    padding: 15px;
    box-shadow: 0 0 10px #00BE67;
    width: auto;
    height: auto;
    max-height: 66vh;
    overflow-y: auto;
    border-radius: 25px;
}


.portfolio_grid::-webkit-scrollbar {
    width: 20px;
}

/* Track */
.portfolio_grid::-webkit-scrollbar-track {
    background-color: #13415f;
    box-shadow: inset 0 0 5px #00BE67;
    border-radius: 10px;
}

/* Handle */
.portfolio_grid::-webkit-scrollbar-thumb {
    background: #fdfdfd;
    border-radius: 10px;
}

/* Handle on hover */
.portfolio_grid::-webkit-scrollbar-thumb:hover {
    background: #c0c0c0;
    cursor: crosshair;
}

/*Display portfolio grid by 3 columns*/
.display_columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.display_columns .grid_square {
    height: 20vh;
}

.grid_square {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px #00BE67;
    border-radius: 25px;
    transition: all 0.3s;
}

.grid_square:hover {
    scale: 1.02;
    cursor: pointer;
}