/* Paleta de corescyber punk
#001D31 DARKER BLUE
#00BE67 LIGHT GREEN
#00A1D5 LIGHT BLUE
#2B0E66 DARKER PURPLE
#F500BD PINK
#FF86C9 LIGHT PINK
*/
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Kode+Mono:wght@400..700&display=swap');

body {
    margin: 0;
    background-color: #001D31;
    color: white;
}

a {
    all: unset;
}

header {
    background-color: #00BE67;
    height: 60px;
    padding: 10px;
    padding-top: 0;
    margin-bottom: 25px;
    box-shadow: 0 10px 50px #00A1D5;
}

.logo {
    width: 110px;
    height: 110px;
    position: relative;

    background-color: #F500BD;
}

.logo:hover {
    cursor: pointer;
}

.nav_bar {
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
}

.nav_button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: 30px;
    color: #001D31;

    font-family: "Anta", sans-serif;
}

.nav_button:hover {
    cursor: pointer;
}

/*Themes sections*/
.Themes {
    margin: 35px;

    display: flex;
    flex-direction: row;
    gap: 60px;
    justify-content: center;
    padding: 10px;
}

.Theme_button {
    height: 150px;
    width: 250px;
    border: none;
    border-radius: 30px;

    font-family: "Kode Mono", sans-serif;
    font-size: 24px;
    font-weight: bolder;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}

.Theme_button:hover {
    cursor: pointer;
    transform: scale(1.1);
    transform-origin: center;
    box-shadow: 0 0 15px #F500BD;
}

.Theme_button:active {
    transform: scale(1);
    transform-origin: center;
    transition: all 0s;
}

.cyberPunk_button {
    background-image: url('themeImages/theme\ \(1\).jpg');
    /* Substitua pelo caminho da sua imagem */
    color: #F500BD;
    text-shadow: 0 0 10px #001D31;
}

.SolarPunk_button {
    background-image: url('themeImages/theme\ \(1\).webp');
    /* Substitua pelo caminho da sua imagem */
    color: #aaff00;
    text-shadow: 0 0 10px #001D31;
}

.SteamPunk_button {
    background-image: url('themeImages/theme\ \(2\).jpg');
    /* Substitua pelo caminho da sua imagem */
    color: #ffea00;
    text-shadow: 0 0 10px #001D31;
}

/*Highlight sections*/
.highlight {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 25px;
}

.highlight_image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 850px;
    height: 500px;
    color: #001D31;
    border-radius: 20px;
    box-shadow: 0 0 10px #00BE67;
}

.highlight_arrow {
    display: flex;
    align-items: center;
    font-size: 70px;
    margin: 50px;
    transition: all 0.5s;
}

.highlight_arrow:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.search_bar {
    background-color: rgb(220, 220, 220);
    display: flex;
    flex-direction: row;
    gap: 25px;
    width: fit-content;
    padding: 30px;

    border-radius: 0 25px 25px 0;
}

.portfolio_display {
    margin-top: 25px;
}

.search_definitions{
    padding: 15px;
}
.orderby{

}
.categories{

}
.SearchInput{
    width: 800px;
    font-size: 20px;
}
.search-button{
    border: none;
    border-radius: 25px;
    background-color: #001D31;
    color: white;
    font-size: 18px;
    padding: 10px;
    transition: all .3s;
}
.search-button:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.grid_display_opt{

}